<footer class="footer-bg h-100 w-100 p-lg-5 mt-lg-5">
  <div class="container-fluid px-0 pt-5">
    <div class="row mx-0 pt-5 pt-lg-0">
      <div class="col-lg-4 col-md-6 col-12">
        <img src="assets/images/Logo.png" alt="" class="w-50 p-3">
        <p class="fs-12 text-white px-3" style="line-height: 1.8;">{{'footer.itcoresDesc' | translate }}</p>
      </div>
      <div class="offset-lg-1"></div>
      <div class="col-lg-3 col-md-6 col-12">
        <h5 class="text-white pt-4 fs-16">{{'services.ourServices' | translate }}</h5>
        <hr>
        <ul class="list-unstyled p-0">
          <li class="pb-1">
            <i class="la la-check-circle gray-text px-2 fs-15"></i>
            <a href="#" class="text-white fs-13">{{'services.ERPSystems' | translate }}</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text px-2 fs-15"></i>
            <a href="#" class="text-white fs-13">{{'services.WebDev' | translate }}</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text px-2 fs-15"></i>
            <a href="#" class="text-white fs-13">{{'services.MobileDev' | translate }}</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text px-2 fs-15"></i>
            <a href="#" class="text-white fs-13">{{'services.hosting' | translate }}</a>
          </li>
        </ul>
      </div>
      <!-- <div class="col-lg-3 col-md-6 col-12">
        <h5 class="text-white pt-4 fs-16"> {{'footer.ourWorkLinks' | translate }}</h5>
        <hr>
        <ul class="list-unstyled">
          <li class="pb-1">
            <i class="la la-check-circle gray-text pr-2 fs-15"></i>
            <a href="#" class="text-white fs-13">Ewan ERP System</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text pr-2 fs-15"></i>
            <a href="#" class="text-white fs-13">{{'footer.EwanPortal' | translate }}</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text pr-2 fs-15"></i>
            <a href="#" class="text-white fs-13">Ewan Mobile Application</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text pr-2 fs-15"></i>
            <a href="#" class="text-white fs-13">Arco ERP System</a>
          </li>
          <li class="pb-1">
            <i class="la la-check-circle gray-text pr-2 fs-15"></i>
            <a href="#" class="text-white fs-13">Ajeer Gate ERP System</a>
          </li>
        </ul>
      </div> -->
      <div class="offset-lg-1"></div>
      <div class="col-lg-3 col-md-6 col-12">
        <h5 class="text-white pt-4 fs-16">{{'footer.contacts' | translate }}</h5>
        <hr>
        <div class="contact-info d-flex pb-3">
          <i class="la la-map-marker text-white d-table"></i>
          <span class="text-white px-2 fs-14">{{'footer.address' | translate }}: <span
              class="font-weight-normal fs-13">{{'footer.addressDesc' | translate }}</span></span>
        </div>
        <div class="contact-info d-flex pb-3">
          <i class="la la-phone text-white d-table"></i>
          <span class="text-white px-2 fs-14">{{'footer.Phone' | translate }}: <span
              class="font-weight-normal fs-13">{{'footer.PhoneNum' | translate }}</span></span>
        </div>
        <div class="contact-info d-flex pb-3">
          <i class="la la-envelope text-white d-table"></i>
          <span class="text-white px-2 fs-14">{{'footer.Emails' | translate }}:
            <span class="text-white font-weight-normal fs-13">info@it-cores.com</span>
            <br>
            <span class="text-white font-weight-normal fs-13">sales@it-cores.com</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="row mx-0">
  <div class="col-lg-8 col-md-6 col-12 px-0  fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
    <div class="copy-rights primary-color-bg text-white w-100 h-100">
      <p class="text-white fs-13 text-center mb-0 py-2">{{'footer.copyRights' | translate }}</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12  fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
    <div class="social-media">
      <ul class="list-unstyled mb-0">
        <li class="d-inline-block px-3 py-2">
          <a href="#">
            <img src="assets/images/facebook.png" alt="" width="8">
          </a>
        </li>
        <li class="d-inline-block px-3 py-2">
          <a href="#">
            <img src="assets/images/messenger.png" alt="" width="18">
          </a>
        </li>
        <li class="d-inline-block px-3 py-2">
          <a href="#">
            <img src="assets/images/google.png" alt="" width="22">
          </a>
        </li>
        <li class="d-inline-block px-3 py-2">
          <a href="#">
            <img src="assets/images/twitter.png" alt="" width="18">
          </a>
        </li>
        <li class="d-inline-block px-3 py-2">
          <a href="#">
            <img src="assets/images/linkedin.png" alt="" width="18">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Back to top -->
<a href="#" class="back-to-top" style="display: none;">
  <i class="la la-angle-double-up"></i>
</a>
